
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo-footer.png" alt="">
			</a>
		</div>
		<div class="info-inner-wrap">
			<p><span class="title-small"><a href="tel:89690502020">+7 969 050 20 20</a></span></p>
			<p><span class="title-small">Москва, ул. Краснобогатырская</span> <br>дом 2 стр16 подъезд 2 этаж 3 офис 7</p>
			<p><a href="">Построить маршрут</a> <a href="">Andoid</a> | <a href="">iOS</a></p>
		</div>
	</div>
</footer>
<!-- /footer -->