
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo-footer.png" alt="">
			</a>
		</div>
		<div class="info-inner-wrap">
			<p><span class="title-small"><a href="tel:89690502020">+7 969 050 20 20</a></span></p>
			<p><span class="title-small">Москва, ул. Краснобогатырская</span> <br>дом 2 стр16 подъезд 2 этаж 3 офис 7</p>
			<p><a href="">Построить маршрут</a> <a href="">Andoid</a> | <a href="">iOS</a></p>
		</div>
	</div>
</footer>
<!-- /footer -->


<div class="popup-outer-box">
	<div class="popup-box">
		<a href="" class="btn-action-close" onclick="document.body.classList.remove('popup-open');this.closest('.popup-outer-box').classList.remove('active');return false;"></a>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-title-wrap">
					<div class="frm-title">Отправить заявку</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<input type="text" placeholder="Имя" class="form-input">
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<input type="tel" placeholder="Телефон" class="form-input">
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field">
						<button type="submit" class="btn">Отправить</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->