
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.jpg" alt="">
			</a>
		</div>
		<div class="info-inner-wrap">
			<div class="info-wrap">
				<div class="elm-ico">
					<img src="./img/icons/01.svg" alt="">
				</div>
				<div class="info-title-wrap">
					<div class="info-title">Подключение</div>
					<div class="info-subtitle">к агрегаторам</div>
				</div>
			</div>
			<a href="" class="info-wrap">
				<div class="elm-ico">
					<img src="./img/icons/02.svg" alt="">
				</div>
				<div class="info-title-wrap">
					<div class="info-title title-small">Построить</div>
					<div class="info-subtitle">маршрут</div>
				</div>
			</a>
			<div class="info-wrap">
				<div class="elm-ico">
					<img src="./img/icons/03.svg" alt="">
				</div>
				<div class="info-title-wrap">
					<div class="info-title title-vvsmall">Москва, ул. Краснобогатырская</div>
					<div class="info-subtitle title-vsmall">дом 2 стр16 подъезд 2 этаж 3 офис 7</div>
				</div>
			</div>
			<div class="info-wrap">
				<div class="elm-ico">
					<img src="./img/icons/04.svg" alt="">
				</div>
				<div class="info-title-wrap">
					<div class="info-title"><a href="tel:84953202221" class="link-phone">+7 495 320-222-1</a></div>
					<div class="info-title"><a href="tel:89670502020" class="link-phone">+7 967 050 20 20</a></div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->
